.article-newspost {
    grid-area: article_newspost;
    background: $primary-color;
    max-height: 331px;
    @media (max-width: 1040px) {
        max-height: 1040px;
        background: none;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        @media (max-width: 1040px) {
            align-items: center;
            flex-direction: column;
        }
        @media (max-width: 320px) {
            align-items: start;
            flex-direction: column;
        }
        &__invitation {
            color: #ffffff;
            font-size: 30px;
            font-family: "Montserrat", sans-serif;
            max-width: 1305px;
            max-height: 331px;
            padding: 51px 105px 130px 79px;
            @media (max-width: 1270px) {
                font-size: 24px;
                background: $primary-color;
                margin-bottom: 50px;
            }
            @media (max-width: 1000px) {
                font-size: 28px;
            }
            &__header {
                max-width: 487px;
                max-height: 71px;
                &-text {
                    font-size: 30px;
                }
                @media (max-width: 320px) {
                    max-height: 320px;
                }
            }
            &__btn {
                &-item {
                    background: #ffffff;
                    width: 166px;
                    height: 50px;
                    color: $primary-color;
                    padding: 21px 32px 18px 32px;
                    border: none;
                    margin-top: 28px;
                    @include font(14px);
                }
                &-item:hover {
                    cursor: pointer;
                    background: #05c8f8;
                    color: #ffffff;
                }
            }
        }
        &__block {
            max-width: 1305px;
            max-height: 331px;
            @media (max-width: 1300px) {
                padding-right: 49px;
            }
            @media (max-width: 1040px) {
                background: $primary-color;
                padding: 63px 56px 36px 55px;
            }
            @media (max-width: 626px) {
                max-height: 550px;
                padding: 63px 8px 36px 9px;
            }
            @media (max-width: 311px) {
                padding: 63px 45px 36px 45px;
            }
            &__newsletters {
                background: #ffffff;
                max-width: 557px;
                display: flex;
                flex-direction: column;
                @media (max-width: 565px) {
                    max-width: 466px;
                    max-height: 297px;
                }
                @media (max-width: 411px) {
                    max-width: 320px;
                }
                &-header {
                    color: #60606e;
                    @include font(24px);
                    padding: 21px 195px 0px 26px;
                    @media (max-width: 411px) {
                        font-size: 13px;
                        padding-right: 27px;
                    }
                }
                &-text {
                    font-family: "Open Sans", sans-serif;
                    font-size: 16px;
                    color: #999999;
                    padding: 18px 0px 28px 27px;
                }
                &-form {
                    display: flex;
                    align-items: flex-end;
                    padding: 0px 26px 18px 20px;
                    @media (max-width: 411px) {
                        padding: 0px 6px 18px 6px;
                    }
                    &__input {
                        padding: 23px 0px 19px 20px;
                        width: 375px;
                        border: 1px solid #cdcdcd;
                        font-size: 12px;
                        max-height: 51px;
                    }
                    &__input::placeholder {
                        color: #cdcdcd;
                        @include font(12px);
                    }
                    :-ms-input-placeholder {
                        color: #cdcdcd;
                        @include font(12px);
                    }
                    &__btn {
                        background: $primary-color;
                        color: #ffffff;
                        padding: 22px 47px 18px 49px;
                        border: none;
                        min-width: 136px;
                        max-height: 51px;
                        @include font(14px);
                    }
                    &__btn:hover {
                        cursor: pointer;
                        background: #05c8f8;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}
