.footer {
    grid-area: footer;
    padding: 50px 80px 48px 82px;
    height: 178px;
    max-height: 154px;
    &_content {
        display: flex;
        justify-content: space-between;
        max-height: 56px;
        &_nav {
            max-width: 573px;
            .footer_nav_links {
                display: flex;
                a {
                    text-decoration: none;
                    color: #9a9a9a;
                    font-size: 14px;
                    font-family: "Montserrat", sans-serif;
                    text-transform: uppercase;
                }
                a:hover {
                    color: #7beec7;
                }
                :not(:first-of-type)::before {
                    content: "-";
                    color: #9a9a9a;
                    margin: 0 13px 0 13px;
                }
                li {
                    list-style-type: none;
                }
            }
        }
        &_creator {
            color: #9a9a9a;
            font-size: 14px;
            font-family: "Montserrat", sans-serif;
            text-transform: uppercase;
        }
    }
    &_content2 {
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;
        a {
            color: #999999;
            margin-left: 18px;
            :hover {
                color: #7beec7;
            }
        }
    }
}
