.footer {
    grid-area: footer;
    padding: 50px 80px 48px 82px;
    height: 178px;
    max-height: 154px;
    &_content {
        display: flex;
        justify-content: space-between;
        max-height: 56px;
        &_nav {
            max-width: 573px;
            .footer_nav_links {
                display: flex;
                @media (max-width: 1200px) {
                    display: block;
                }
                a {
                    text-decoration: none;
                    color: #9a9a9a;
                    font-size: 14px;
                    font-family: "Montserrat", sans-serif;
                    text-transform: uppercase;
                }
                a:hover {
                    color: #7beec7;
                }
                :not(:first-of-type)::before {
                    content: "-";
                    color: #9a9a9a;
                    margin: 0 13px 0 13px;
                }
                li {
                    list-style-type: none;
                }
            }
        }
        &_creator {
            color: #9a9a9a;
            font-size: 14px;
            font-family: "Montserrat", sans-serif;
            text-transform: uppercase;
        }
    }
    &_content2 {
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;
        a {
            color: #999999;
            margin-left: 18px;
            :hover {
                color: #7beec7;
            }
        }
    }
}

@media (max-width: 680px) {
    .footer_content_nav .footer_nav_links :not(:first-of-type)::before {
        content: none;
    }
    .footer {
        padding: 50px 0px 0px 0px;
    }
}

@media (max-width: 320px) {
    .footer {
        max-width: 320px;
    }
    .footer_content {
        max-height: 130px;
    }
    .footer_content_creator {
        font-size: 11px;
    }
}
