.header {
    background: url("../img/top@1X.png") center / cover no-repeat;
    &_wrapper {
        display: flex;
        justify-content: space-between;
        height: 500px;
        width: 100%;
        padding-top: 43px;
        &_logo {
            font-size: 18px;
            color: #60606e;
            font-family: "Montserrat", sans-serif;
            font-weight: bold;
            width: 58px;
            height: 14px;
            max-width: 1300px;
            max-height: 500px;
            padding-left: 80px;
        }
        &_menu {
            padding-right: 146px;
            height: 20px;
            @media (max-width: 520px) {
                padding-right: 30px;
            }
        }
        &_menu:hover {
            cursor: pointer;
        }
        &_burger {
            border-bottom: 1px solid black;
            width: 31px;
            height: 6px;
        }
        &_burger2 {
            border-bottom: 1px solid black;
            width: 15px;
            height: 6px;
        }
        &_burger3 {
            border-bottom: 1px solid black;
            width: 23px;
            height: 6px;
        }
    }
}
